<br />
  <p class="text-center"><strong>Blocipedia: Social, Markdown Wikis</strong></p>
  <div class="jumbotron text-center">
    <h2>Create and share Markdown Wikis</h2><br />
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
<br />
  <div class="row text-center">
    <div class="col-md-6">
      Create as many public wikis as you want!<br /><br />
      <%= image_tag("wiki_free.png", size: "150x150", alt: "Free Account") %><br />
      Free Plan
    </div>
    <div class="col-md-6">
      Create private wikis!<br /><br />
      <%= image_tag("wiki_premium.png", size: "150x150", alt: "Premium Account") %><br />
      Premium Plan
    </div>
  </div>