<h1>Subscription Upgrade</h1>

<%= form_tag user_subscription_path(current_user) do %>
  <article>
    <label class="amount">
      <span>Amount: $9.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= ENV["STRIPE_PUBLIC_KEY"] %>"
          data-description="A month's subscription"
          data-amount="900"></script>
<% end %>